/* Links */
/*a,
a:focus,
a:hover {
  font-size: 1.2em;
}*/

/*
 * Base structure
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: helvetica;
  text-align: center;
  color: #333;

}

h1{
  color: #fff;
  font-size: 1.2em;
}
h2{
  color: rgba(255,178,117,1);
  font-size: 1.5em;
}
h3{
  font-size: 1.2em;
  padding-bottom: 1em;
  color: rgba(0,0,0,.5);
}


.site-wrapper {
  position: relative;
  display: table;
  width: 100%;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

#autoplay-header{
  position: relative;
}


/* Padding for spacing */
.inner {
  padding: 20px;
}

/*
 * Header
 */


.mynavbar{
   margin-bottom: 0;
   border: 0;
   border-radius: 0;
}

.navbar-header a {
  font-size: 1.6em;
}

.nav a{
  font-size: 1.2em;
}


.navbar-secondary {
  background-color: rgba(0,0,0,.7);
}


.navbar li:hover {
  opacity: .6;
  transition: .2s;
}

#logout{
  margin: 15px;
  color: rgba(255,178,117,0.7);
  cursor: pointer;
  font-size: 1.1em;
}

.mysearchbar{
  padding-top: 0.5em;
}

#autocomplete1{
  border-radius: 4px 0 0 4px;
}


/*
 * Cover
 */

.cover {
  padding: 100px 0 10px;
}

#text_video{
  position: relative;
}
.toptext{
    top: 6em;
    position: absolute;
    left: 30%;
}

.search-bar{
  margin-left: 10em;
  margin-right: 10em;
}


#bgvid { 
    display: block;
    position: relative;
    top: 0;
    z-index: -50;
  }

.highlight-color{
  color: rgba(255,178,117,1);
}

.btncolor{
  background-color: rgba(255,255,255,.5);
  color: #fff;
}

.btncolor:hover{
  background-color: rgba(0,0,0,.5);
  color: #fff;
}

.toptext{
    top: 0em;
    left: 30%;
  }

.gotointro{
  margin-top: 2em;
}

.gotointro:hover {
  font-size: 1.4rem;
}

#welcome_tag{
  color: rgba(255,255,255,0.7); 
  padding-top: 0.8em;
  font-size: 1.0em;
}

#work-btn{
  display: none;
}





/**********************************************
SECTION: QUIZ 
**********************************************/

.vid-holder {
  position:relative;
}

#vid-overlay {
  position: absolute;
  top: -10px;
  left:9%;
  width: 82%;
  height:110%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.8);
  border-radius: 8px;
}

#sample-vid{
  border: 1px solid #333;
  width: 80%;
}

.section-quiz h3 {
  padding-bottom: 0;
}

.anwser{
  padding-left: 2em;
  padding-right: 2em;
  font-style: italic;
  margin-bottom: 0;
}

.btn-type1{
  border: 1px solid rgba(255,178,117,1);
}

.btn-type2{
  border: 1px solid rgba(255,178,117,1) ;
  background: rgba(255,178,117,1);
  color: #333;
}

.responses {
    width: 72%;
    margin: 0 auto;
}

.get-started {
    background-color: rgba(255,178,117,1);
    color: #fff;
    border: none;
    margin-top: 2em;
}

#outcome {
  font-size: 1.2em;
  margin: 0;
  padding: 0 20px;
  color: #fff;
  font-weight: 300;
  line-height: .5em;
}

#outcome h3 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.5em;
}

#outcome a {
  color: rgb(255,178,117);
  line-height: 2.5em;
  text-decoration: none;

}

#outcome a:hover {
  opacity:.5;
}

.hidden {
  visibility: none;
}

.visible {
  visibility: visible;
}

.fader {
  opacity: .25;
}

.btn-default[disabled] {
  opacity: 0;
}



/**********************************************
SECTION: GO MOBILE
**********************************************/
#gomobile{
  color: #ffffff;
}
.section_download{
  background: rgba(255,178,117,1);
  padding-bottom: 5em;
}

.img-download{
  padding-bottom: 20px;
}

.text-download{
  padding-top: 50px;
  padding-bottom: 20px;
}

.download-link img {
    width: 120px;
}

.download-link img:hover {
    opacity: .7;
}



/*SECTION: FOOTER*/

footer {
    /*ackground-color: rgba(255,178,117,1);*/
    padding: 40px 0;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.2);
}

footer a{
  color:#8B572A;
}

footer a:hover {
  text-decoration: none;
  /*color: white;*/
  transition: .2s;
}

.footer-group {
    text-align: left;
    color: #8B572A;
}

.list-title {
    font-size: 1.2em;
}

.footer-list {
    list-style: none;
    text-align: left;
    font-size: 1em;
    padding-left: 10px;
}

.fa {
    color: #8B572A;
}

.fa:hover {
    color:white;
    transition: .2s;
}

.footer-icon {
    display: inline-block;
    padding: 0 8px 16px;
}



/**********************************************
SECTION: EXPRESSIONS
**********************************************/

.expression-size img{
  max-width: 100%;
}

.page-title {
  color: #404040;
}




/* RESPONSIVE CSS */

  /**********************************************
  SECTION: QUIZ
  **********************************************/


@media screen and (min-width: 480px) {
  #outcome {
    margin-top: 14%;
  }

  h1{
  font-size: 1.2em;
  }

  .toptext{
    top: 2em;
    left: 35%;
  }

  #welcome_tag{
    padding-top: 1.2em;
  }

  #work-btn{
  display: block;
}

}

@media screen and (min-width: 600px){
  h1{
    font-size: 1.5em;
    }

  h2{
    font-size: 2em;
  }

  .toptext{
    top: 2em;
    left: 38%;
  }

  #welcome_tag{
    padding-top: 1.2em;
  }
}

@media screen and (min-width: 720px) {

  #sample-vid {
    width: 70%;
  }

  .responses {
    width: 65%;
  }

  #vid-overlay {
    width: 72%;
    left: 14%;
  }

  #outcome {
    margin-top: 22%;
  }

  h1{
  font-size: 2em;
  }

  .toptext{
    
    top: 4em;
    left: 38%;
  }

  #welcome_tag{
    padding-top: 2em;
  }

}


@media screen and (min-width: 991px) {
  .btn-default[disabled] {
    opacity: .25;
  }

  #vid-overlay {
    height: 114%;
    top: 0;
  }

  .responses {
    width: 66%;
  }

  h1{
  font-size: 2.5em;
  }

  .toptext{
    top: 10em;
    left: 40%;
  }

  #welcome_tag{
    padding-top: 3em;
  }


}



@media screen and (min-width: 1200px) {

  .responses {
    width: 66.5%;
  }


}
