/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  font-size: 1.3em;
}

/*
 * Base structure
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: helvetica;
  text-align: center;
  color: #333;

}

h1{
  color: #fff;
  font-size: 3em;
}
h2{
  color: rgba(255,178,117,1);
  font-size: 2em;
}
h3{
  font-size: 1.2em;
  padding-bottom: 1em;
  color: rgba(0,0,0,.5);
}


.site-wrapper {
  position: relative;
  display: table;
  width: 100%;
  height: 100%; 
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

#autoplay-header{
  position: relative;
}


/* Padding for spacing */
.inner {
  padding: 20px;
}

/*
 * Header
 */


.navbar{
  background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar-header a {
  font-size: 2em;
  font-weight: 300;
}

.navbar-header a:hover {
  font-size: 2em;
  opacity:.7;
}


.navbar-secondary {
  background-color: rgba(0,0,0,.7);
}


.navbar li { 
  color: #000 
} 

.navbar li:hover {
  opacity: .6;
}

#login-btn{
  border: 1px solid rgba(255,178,117,1);
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 13px;
  margin-left: 10px;
}

#logout{
  margin: 12px;
  color: rgba(255,178,117,1);
  cursor: pointer;
  font-size: 1.2em;
}


/*
 * Cover
 */

.cover {
  padding: 30px 0 10px;
}

.search-bar{
  margin-left: 10em;
  margin-right: 10em;
}

#overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    z-index:-1;
    color:#fff;
}

#bgvid { 
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: 1080px;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-100%);
    background-size: cover;
    transition: 1s opacity;
}

.highlight-color{
  color: rgba(255,178,117,1);
}

.btncolor{
  background-color: rgba(255,255,255,.5);
  color: #fff;
}

.btncolor:hover{
  background-color: rgba(0,0,0,.5);
  color: #fff;
}

/*the scroll indicator style*/

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  margin-left:-4em;
  background: rgba(255,178,117,1);
  border-radius:50%;
  width:8em;
  height:8em;
  padding:3.5em 2em;
  bottom: 1em;
  font-size:0.4em;
  display:block;
}
.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2em 2em 0 2em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg);
}
.arrow:after {
  content:'';
  position:absolute;
  top:-2.2em;
  left:-2em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2em 2em 0 2em;
  border-color: rgba(255,178,117,1) transparent transparent transparent;
  -webkit-transform:rotate(360deg);
}
@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:10%; }
    20% { top:0; }
    30% { top:10%; }
    40% { top:-10%; }
    50% { top:10%; }
    60% { top:0; }
    70% { top:10%; }
    80% { top:-10%; }
    90% { top:10%; }
    100% { top:0; }
  }
.arrow-wrap .arrow {
  -webkit-animation: arrows 2.4s 0.4s;
  -webkit-animation-delay: 2.8s;
} 

.gotointro:hover {
  font-size: 1.4rem;
}

.arrow-wrap:hover {
  font-size: .56rem;
}



/**********************************************
SECTION: QUIZ 
**********************************************/

.vid-holder {
  position:relative;
}

#vid-overlay {
  position: absolute;
  top: -10px;
  left:9%;
  width: 82%;
  height:110%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.8);
  border-radius: 8px;
}

#sample-vid{
  border: 1px solid #333;
  width: 80%;
}

.section-quiz h3 {
  padding-bottom: 0;
}

.anwser{
  padding-left: 2em;
  padding-right: 2em;
  font-style: italic;
  margin-bottom: 0;
}

.btn-type1{
  border: 1px solid rgba(255,178,117,1);
}

.btn-type2{
  border: 1px solid rgba(255,178,117,1) ;
  background: rgba(255,178,117,1);
  color: #333;
}

.responses {
    width: 72%;
    margin: 0 auto;
}

button {
  width: 100%;
  margin: 0 auto;
}

.get-started {
    background-color: rgba(255,178,117,1);
    color: #fff;
    border: none;
    margin-top: 2em;
}

#outcome {
  font-size: 1.2em;
  margin: 0;
  padding: 0 20px;
  color: #fff;
  font-weight: 300;
  line-height: .5em;
}

#outcome h3 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.5em;
}

#outcome a {
  color: rgb(255,178,117);
  line-height: 2.5em;
  text-decoration: none;

}

#outcome a:hover {
  opacity:.5;
}

.hidden {
  visibility: none;
}

.visible {
  visibility: visible;
}

.fader {
  opacity: .25;
}

.btn-default[disabled] {
  opacity: 0;
}



/**********************************************
SECTION: GO MOBILE
**********************************************/

.section_download{
  background: rgba(0,0,0,.1);
  padding-bottom: 5em;
}

.img-download{
  padding-bottom: 20px;
}

.text-download{
  padding-top: 50px;
  padding-bottom: 20px;
}

.download-link img {
    width: 120px;
}

.download-link img:hover {
    opacity: .7;
}



/*SECTION: FOOTER*/

footer {
    background-color: rgba(255,178,117,1);
    padding: 40px 0;
}

footer a:hover {
  text-decoration: none;
  color: #808080;
}

.footer-group {
    text-align: left;
    color: #fff;
}

.list-title {
    font-size: 1.2em;
}

.footer-list {
    list-style: none;
    text-align: left;
    font-size: 1em;
    padding-left: 10px;
}

.fa {
    color: #fff;
}

.fa:hover {
    color:#8B572A;
}

.footer-icon {
    display: inline-block;
    padding: 0 8px 16px;
}



/**********************************************
SECTION: EXPRESSIONS
**********************************************/

.expression-size img{
  max-width: 100%;
}

.page-title {
  color: #404040;
}




/* RESPONSIVE CSS */

  /**********************************************
  SECTION: QUIZ
  **********************************************/



@media screen and (min-width: 480px) {
  #outcome {
    margin-top: 14%;
  }
}


@media screen and (min-width: 720px) {

  #sample-vid {
    width: 70%;
  }

  .responses {
    width: 65%;
  }

  #vid-overlay {
    width: 72%;
    left: 14%;
  }

  #outcome {
    margin-top: 22%;
  }


}


@media screen and (min-width: 991px) {
  .btn-default[disabled] {
    opacity: .25;
  }

  #vid-overlay {
    height: 114%;
    top: 0;
  }

  .responses {
    width: 66%;
  }

}



@media screen and (min-width: 1200px) {

  .responses {
    width: 66.5%;
  }


}
