body{
	text-align: center;
	background-color: rgba(255,178,117,1)
}

.greeting {
	padding: 0 0 1em;
}

.page-title {
	color: #404040;
}

.quiz img {
	max-width: 100%;
}

.section-title {
	color: #ffb275;
}

footer {
	margin: 5% 0 0;
}

.quiz-container {
	background-color: #dfdfdf;
	margin-bottom: 60px;
	position: relative;
}

#quiz-overlay {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height:100%;
	margin: 0 auto;
	background-color: rgba(0,0,0,.8);
}

#outcome-catQuiz h3, #outcome-numberQuiz h3, #outcome-iloveyouQuiz h3, #outcome-dragdropQuiz h3 {
  font-size: 1.5em;
  margin:40px 0 0;
  color: #ffb275;
  font-weight: 300;
  line-height: .5em;
}

 #outcome-dragdropQuiz h3 {
 	padding-top: 100px;
 }

.gameover {
	padding-top: 100px;
}

.quiz-container .row {
	padding-bottom: 20px;
}

.instructions {
	font-size: 1.2em;
	color: #404040;
}

.quiz-container .scoring-list {
	font-size: 1em;
	font-style: italic;
	padding: 5px 0 10px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

.token-thumbnail {
	max-width: 25px;
	margin: 0 -2px;
}

.quiz img {
	max-width:  auto;
	max-height: 180px;
	border: 1px solid #707070;
	margin: 1px 1px 5px;
}

#quiz-overlay img {
	border: none;
	max-width: 180px;
	margin: 10px 10px 0;
}

.col-sm-4  img:hover {
	cursor: pointer;
	border: 1px solid #404040;
}

#quiz-overlay  img:hover {
	cursor: default;
	border:none;
}

#quiz-overlay p {
	font-size: 1.2em;
	color: #fff;
	font-weight: lighter;
}

.quiz-box {
	float: none;
	min-height: 200px;
	max-width: 325px;
	border: 1px dashed #404040;
	padding: 5% 0;
	margin: 0 auto;
	background-color:rgba(255,178,117,.5);
}

h3 {
	color: #404040;
}

button {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}

#outcome4 h3 {
	padding: 0 0 10px;
	margin: 0;
}

#outcome4 a {
	color: #ffb275;
}

#outcome4 a:hover {
	opacity: .7;
}

#summary-button:hover {
	font-size: 1em;
}

.moves-counter {
	color: #404040;
	font-size: 1em;
	font-style: normal;
}

.result-update {
	font-style: italic;
	margin-right: 2px;
}

.status-title {
	margin: 0;
}

.fadeOut {
	opacity: .4;
}

button:focus {
	outline: 0;
}

.dropped {
	opacity: .5;
}

#chart, #bars {
	max-width: 660px;
	margin: 0 auto;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.navbar-static-top {
	z-index: 10;
}