
.join-brand {
	text-align: center;
	padding: 0 0 20px;
	margin-top: -30px;
}

.join-brand-name {
	font-size: 2.3em;
	color: rgba(255,178,117,1);
	vertical-align: middle;
}

.tagline {
	font-size: 1.8em;
	color: #333;
}

.join-brand-name:hover {
	text-decoration: none;
	color: rgba(255,178,117,.8);
}
