/*@media screen and (min-width: 768px){

	.col-sm-4 {
		padding: 0;
	}
}*/

/*body{
	text-align: center;
}

a{
	font-size: 1.2em;
}

h1{
	padding-bottom: 1em;
	padding-top:3em;
}

.expression-size{
	display: block;
}

.expression-size img{
	max-width: 100%;
}

.search-bar{
	padding-top: 12px;
}

@media screen and (max-width: 768px){
	.search-bar{
		padding-bottom: 12px;
	}
	h1{
		padding-top:7em;
	}
}*/