body{

}

.bgc{
	width: 100%;
	color:#8B572A;
	background-color: rgba(255,178,117,1);
	height: 0;
	overflow: hidden;
}

.closeme{
	position: relative;
	max-width: 4%;
	margin-right: 5%;
	margin-top: 5%;
}


.row img{
	max-width: 100%;
}

.intro-h2{
	padding-top:10%; 
	margin-bottom:5%;
}